#principal{

    width: 70%;
    height: 100%;

    margin-top: 3%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        
    row-gap: 1%;
    column-gap: 3%;

}

#camisa{
    width: auto;
    height: 100%;
    
    display: flex;
    align-items: baseline;
    justify-content: baseline;

}

#divInfoCamisa{

    width: 70%;

    height: 100%;
    
    margin-top: 1%;
    margin-left: 3%;

    display: flex;
    flex-direction: column;

}

#ProdHeader h1 {
    font-size: 3.6rem;
}

#EscolhaTamanho {

    padding-bottom: 5%;

}
#escolhasCamisa{

    width: 80%;
    height: 200px;
    
    display: flex;
    flex-direction: column;

}

#escolhaNumero {
    font-size: 1.8rem;
    height: 60%;
    max-width: 100%;

}

#escolhaNome {
    font-size: 1.8rem;
    height: 60%;  
    max-width: 100%;

}

#EscolhaTamanho{
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 1%;
}

#Preço h2{
    font-size: 2.5rem;
    margin-top: 1%;
}

#aviso {
    margin-top: 2%;
    font-size: 1.6rem;
}

#DivButao {
    width: auto;
    height: auto;
}

#ProdAvaliacao{
    margin-top: 1%;
}

#ProdAvaliacao p{
    font-size: 1.4rem;
    margin-top: 1%;
}



#DivDescricaoCamisa{
    width: 70%;
    height: 50%;

    font-size: 2rem;

    border-top: 2px solid black;
    margin-top: 1%;
}


#ButaoAddCarrinho {
    width: 200px;
    height: 50px;

    background: transparent;

    border: 1px solid black;

    font-size: 1.6rem;
}

#ButaoAddCarrinho div {
    width: 200px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#ButaoAddCarrinho:hover {
    background: black;
}


#ButaoAddCarrinho div:hover {
    color: white;
    z-index: 50;
}

#ButaoAddCarrinho:active {
    transform: translateY(3px);
}

#ButaoAddCarrinho{
    margin-bottom: 2%;
}

#ProdAvaliacao {
    margin-top: 1%;
}
#ProdDescricao {
    margin-top: 3%;
}
#ProdDimensão {
    margin-top: 3%;
}